<footer class="pt-4 my-md-5 pt-md-5 border-top container">
    <div class="row">
      <div class="col-12 col-md" style="margin-left: 5%;">
        <img style="margin-top: 13%;" class="mb-2" src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" alt="" width="50" height="50">
        <small class="d-block mb-3 text-muted">&copy; KG-<span id="annoAutomatico"></span></small>
      </div>
      <div class="col-6 col-md">
        <h5>Encuesta de Salud</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/inicio">Inicio</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/sintomas">Lista de Síntomas</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/centroSalud">Centros de Salud</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/contacto">Contáctenos</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Curso de Angular</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Servicios</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Interfases</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">RxJS</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Components</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Contactanos</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">WhatsApp</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Facebook</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Instagram</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">YouTube</a></li>
        </ul>
      </div>
    </div>
  </footer>