<br>
<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Formulario de Proceso de Viaje</h1>
          <p class="col-md-11 fs-5">
            A continuación se muestra el Forumario de Registro oficial, 
            por favor completarlo y enviarlo.
          </p>
        </div>
      </div>
</div>

<div class="container">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <button type="button" class="btn btn-outline-primary" routerLink="informacionViaje" >Continuar la Encuesta</button>
</div>
<router-outlet></router-outlet>