  <div class="container py-3">
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <img src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" width="50" height="40" alt="" loading="lazy">
          <span class="fs-4">Encuesta de Salud</span>
        </a>
  
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" href="#">Inicio</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="#">Conoce más</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="#">Contáctenos</a>
          <a class="py-2 text-dark text-decoration-none" href="#">COVID-19 Test</a>
        </nav>
      </div>
  
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Etapa I</h1>
          <p class="col-md-11 fs-5">A continuación se le presenta una serie de padecimientos asociados o definidos como enfermedades de alto riesgo. 
             Seleccione por favor la o las enfermedades que usted identifique en su perfil clínico y siga las instrucciones dadas.</p>
        </div>
      </div>
    </header>
  