  <div class="container py-3">
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <img src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" width="50" height="40" alt="" loading="lazy">
          <span class="fs-4">Encuesta de Salud</span>
        </a>
  
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/inicio">Inicio</a>
          <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/sintomas">Listado de Síntomas</a>
          <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/centroSalud">Centros de Salud</a>
          <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/contacto">Contáctenos</a>
        </nav>
      </div>
    </header>
  