<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Información de Contacto Directo</h1>
        <p class="col-md-11 fs-5">A continuación se presenta la información de contactación directa con nuestro equipo de especialistas listos para atender
            su caso, llámanos; estamos listos para ayudar.
        </p>
      </div>
    </div>
  </div>
<br>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Dirección Física</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Calle 16, Avenidas 6 y 8 - San José, Costa Rica</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">¿Cómo llegar?</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Horario de Atención</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Lunes a Viernes. De 8:00 a.m. a 4:00 p.m.</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Agendar Cita</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Otros Medios Disponibles</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Apartado Postal: 10123-1000 | Teléfono: 2223-0333</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Llamar Ya</button>
          </div>
        </div>
      </div>
    </div>

</div>


<div id="idContacto"></div>
<div>
    <a routerLink="telefono">Ver telefono</a>
</div>
<router-outlet></router-outlet>