
<br>
<!-- <div class="container oculta" id="listaCentrosSalud"> -->
 <div class="container" id="listaCentrosSalud">
    <br>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Centros de Salud</h1>
          <p class="col-md-11 fs-5">A continuación se muestra el listado de Centros de Salud disponibles.
            Por favor, ponerse en contacto lo más pronto posible al más cercano a su ubicación.
          </p>
        </div>
      </div>
    <br>
    <table id="myTable" class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody id="cuerpoTabla">
        </tbody>
    </table>

    <h1 id="h1NoTocar" class="rojo h1NoTocar">1</h1>

    <table id="tabla">
      <tr>
        <th id="id">id</th>
        <th id="i2d">Contact</th>
        <th id="i4d">Country</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td><button class="button enlaceDetalleCentroSalud"
          type="button">Click Me!</button></td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
        <td><button class="button enlaceDetalleCentroSalud"
          type="button">Click Me!</button></td>
      </tr>
    </table>
 </div>

 
