
<br>
<!-- <div class="container oculta" id="listaCentrosSalud"> -->
 <div class="container" id="listaCentrosSalud">
    <br>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Centros de Salud</h1>
          <p class="col-md-11 fs-5">A continuación se muestra el listado de Centros de Salud disponibles.
            Por favor, ponerse en contacto lo más pronto posible al más cercano a su ubicación.
          </p>
        </div>
      </div>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody id="cuerpoTabla">
        </tbody>
    </table>
 </div>