<br>
<br>

<div class="container" id="info-centro-salud">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Detalles Generales del Centro de Salud</h1>
          <p class="col-md-8 fs-4">Esta es la información del Centro de Salud seleccionado</p>
        </div>
      </div>
      <br>
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h4>ID del Centro Médico:</h4>
            <p id="idCentroMedico"></p>
            <h4>Nombre del Centro Médico:</h4>
            <p id="nombreCentroMedico"></p>
            <h4>Correo Electrónico:</h4>
            <p id="correoCentroMedico"></p>
            <h4>Ubicación:</h4>
            <p id="ubicacionCentroMedico"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <img src="../../assets/images/hospital-imagen.png" alt="Trulli" width="500" height="333">

        </div>
      </div>

</div>